@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

$main: #48dbfb;
$font: #555;

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #ECEBE4, #f7f5f6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.title {
  width: 95%;
  font-size: 15px;
  letter-spacing: 4px;
  font-weight: 300;
  text-transform: uppercase;
  background: $main;
  text-align: center;
  padding: 3% 10px;
  margin: 5px;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  &:before {
    position: absolute;
    top: -10px;
    content: '';
    border-bottom: 12px solid $main;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
  }
}

.icon {
  background: $main;
  color: white;
  padding: 8px;
  border-radius: 50%;
  margin: 10px;
  font-size: 13px;
}

.notification {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 95%;
  padding: 0% 10px;
  .alert {
    display: flex;
    align-items: center;
    color: $font;
    text-transform: uppercase;
    font-size: .70em;
    letter-spacing: .12em;

    &-name {
      font-weight: 500;
    }
    &-time {
      padding: 10px;
      font-size: 11px;
      letter-spacing: 1px;
      color: $font;
    }
  }
}

@media (max-width: 700px) {
  .container {
    display: block;
    width: 100%;
  }
  
  .notification, .title {
    box-sizing: border-box; 
  }
  
  .notification, .title {
    width: 100%;
    margin: 5px 0;
  }
}